*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 450px;
    border: 2px solid red;
    border-radius: 50px;
}
.text{
    width: 344px;
    height: 80px;
    border: 2px solid gray;
    text-align: end;
    padding: 22px 10px;
    border-radius: 20px;
    margin-bottom: 4px;
}
.eq_rm{
    display: flex;
}
#equal{
    width: 256px;
}
.num_op{
    display: flex;
}
.digits{
    display: flex;
    flex-wrap: wrap;
    width: 264px;
}
.digits :last-child{
    margin: 4px auto;
}
.operators{
    display: flex;
    flex-direction: column;
}
button{
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin: 4px;
    border-radius: 20px;
    /* border: transparent; */
}
#decimal{
    position: absolute;
    bottom: 142px;
    right: 871px;
}
#clear{
    position: absolute;
    bottom: 142px;
    left: 785px;
}