@font-face{
    font-family: 'MyCustomFont';
    src: url(Fonts/Time/Time.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #4c4167;
}
.calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 450px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: #36363a;
}
.text{
    width: 344px;
    height: 80px;
    border: 3px solid black;
    text-align: end;
    padding: 18.5px 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    background-color: #86e892;
    font-size: 40px;
    color: #143a17;
    font-family: 'MyCustomFont';
    letter-spacing: -6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.eq_rm{
    display: flex;
}
#equal{
    width: 256px;
}
.num_op{
    display: flex;
}
.digits{
    display: flex;
    flex-wrap: wrap;
    width: 264px;
}
.digits :last-child{
    margin: 4px auto;
}
.operators{
    display: flex;
    flex-direction: column;
}
button{
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin: 4px;
    border-radius: 20px;
    background-color: #a3a3b6;
    border: 3px solid #000000;
}
#decimal{
    margin-top: -84px;
    margin-right: -86px;
}
#clear{
    margin-top: -84px;
    margin-left: -260px;
    color: red;
}
.operator{
    background-color: #F29F05;
}
button:hover{
    cursor: pointer;
}
#decimal:hover:disabled{
    cursor: default;
}
.num:hover, #clear:hover, #decimal:hover, #equal:hover, #backSpace:hover{
    background-color: #afaff6 ;
}
.operator:hover{
    background-color: #ff7b00;
}