*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    border: 2px solid red;
}
.text{
    width: 172px;
    height: 40px;
    border: 2px solid gray;
    text-align: end;
    padding: 11px 5px;
    border-radius: 10px;
    margin-bottom: 2px;
}
.eq_rm{
    display: flex;
}
#equal{
    width: 128px;
}
.num_op{
    display: flex;
}
.digits{
    display: flex;
    flex-wrap: wrap;
    width: 132px;
}
.digits :last-child{
    margin: 2px auto;
}
.operators{
    display: flex;
    flex-direction: column;
}
button{
    width: 40px;
    height: 40px;
    font-size: 15px;
    margin: 2px;
    border-radius: 10px;
    /* border: transparent; */
}
#decimal{
    position: relative;
    top: -44px;
    left: -2px;
}
#clear{
    position: relative;
    top: -44px;
    left: -42px;
}